@import "respond.scss";
@import "color.scss";
#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  align-items: center;
  justify-content: center;
  position: fixed;
  display: none;
  &.show {
    display: flex;
  }

  .boxHandle {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: $backgroundTask;
    border-radius: 24px;
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: #ffffff;
    border-radius: 24px;
    gap: 28px;
    flex-direction: column;
    position: sticky;
    left: 402px;

    @include respond(phone) {
      width: 90%;
      left: 0px;
    }
    h1 {
      font-size: 22px;
      line-height: 36px;
      color: $colorTextMain;
    }
    &__title {
      padding: 40px 60px 0px 60px;
      height: -webkit-fill-available;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      font-size: 22px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      @include respond(phone) {
        padding: 20px 0px 0 20px;
      }
    }
    &__taskName {
      padding: 0px 60px;
      gap: 8px;
      @include respond(phone) {
        padding: 0px 20px;
        width: auto;
      }
      h3 {
        font-size: 14px;
        // width: 100%;
        margin: 0px;
        color: #7d8592;
      }
      input {
        border: 1px #d8e0f0 solid;
        // height: 48px;
        padding: 12px 20px;
        width: 399px;
        // height: 48px;
        border-radius: 8px;
        // left: 20px;
        // position: relative;
        // border: 1px;
        // gap: 10px;
        @include respond(phone) {
          width: auto;
        }
      }
    }
    &__priority {
      padding: 0px 60px;
      gap: 8px;
      @include respond(phone) {
        padding: 0px 20px;
        width: auto;
      }

      h3 {
        margin: 0px;
        font-size: 14px;
        // width: 100%;
        color: #7d8592;
      }
      &__btn {
        gap: 12px;
        flex-direction: row;
        display: flex;
        align-items: center;
        // justify-content: center;
        @include respond(phone) {
          width: 100%;
          display: flex;
        }
      }
    }
    &.priority__btn {
      &--high {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colorHigh;
        border: 1px $colorHigh solid;
        width: 120px;
        height: 36px;
        &[value-Clicked="true"] {
          background-color: $colorHigh;
          color: $backgroundTask;
        }
      }
      &--medium {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colorMedium;
        border: 1px $colorMedium solid;
        width: 120px;
        height: 36px;
        &[value-Clicked="true"] {
          background-color: $colorMedium;
          color: $backgroundTask;
        }
      }
      &--low {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $colorLow;
        border: 1px $colorLow solid;
        width: 120px;
        height: 36px;
        // border: 1px green solid;
        &[value-Clicked="true"] {
          background-color: $colorLow;
          color: $backgroundTask;
        }
      }
      &--high,
      &--medium,
      &--low {
        border-radius: 10px;
      }
    }
    &__submit {
      display: flex;
      background-color: $backgroundTask;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;
      @include respond(phone) {
        padding-bottom: 20px;
        width: auto;
      }
      &--add {
        border-radius: 10px;
        width: 80px;
        border: 1px $selectColor solid;
        height: 40px;
        background-color: $selectColor;
        color: $backgroundTask;
        width: 114px;
        height: 40px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        button {
          width: 54px;
          height: 16px;
        }
        &[value-disabled="true"] {
          background-color: $colorTextTask !important;
        }
      }
      &--cancel {
        height: 40px;
        border-radius: 10px;
        width: 114px;

        color: $colorTextTask;
        border: 1px $borderCancel solid;
        background-color: $backgroundTask;
        gap: 20px;
        // width: 58px;
        top: 12px;
        left: 169px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
      }
      &--add,
      &--cancel {
        @include respond(phone) {
          width: max-content;
          padding: 10px 30px;
        }
      }
    }
    &[box-Content="Delete"] {
      width: 500px;
      border-radius: 24px;
      padding: 40px 60px 0px 60px;
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: 0em;
      gap: 32px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond(phone) {
        width: 90%;
        padding: 10px;
      }
    }
    &__deleteBox {
      h1 {
        width: 350px;
        height: 66px;
        margin: 0px;
        padding: 0px;
      }
    }
  }
}
